body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}
/*버튼 노말라이즈*/
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/*Global Start*/
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /*Global End*/

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-mrcro: 14px;

  /* font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}
/* Universal tags Start*/
* {
  box-sizing: border-box;
}
/* Universal tags End*/
/* Typography Start */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px;
}
/* Typography End */

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__logo {
  font-size: medium;
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}

.navber__menu__item {
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  transition: background-color 0.3s;
}
.navber__menu__item.active {
  border: 1px solid var(--color-white);
}
.navber__menu__item:hover {
  transition: background-color 0.3s;
  background-color: var(--color-dark-pink);
}

/* Home */
#home {
  background: url("imgs/home.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.home__title,
.home_description {
  color: var(--color-white);
}
.home__contact:hover {
  transition: background-color 0.3s;
  background-color: var(--color-dark-pink);
}
.home__contact {
  transition: background-color 0.3s;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
