body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}
/*버튼 노말라이즈*/
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/*Global Start*/
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /*Global End*/

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-mrcro: 14px;

  /* font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 0.3s;
}

/*Section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
}

/* Universal tags Start*/
* {
  box-sizing: border-box;
}
/* Universal tags End*/
/* Typography Start */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px;
}
/* Typography End */

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__logo {
  font-size: medium;
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}

.navber__menu__item {
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  transition: background-color 0.3s;
}

.navber__menu__item.active {
  border: 1px solid var(--color-white);
}

.navber__menu__item:hover {
  transition: background-color 0.3s;
  background-color: var(--color-dark-pink);
}

/* Home Start */
#home {
  background: url("imgs/home.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home_description {
  color: var(--color-white);
}

.home__contact:hover {
  transition: background-color 0.3s;
  background-color: var(--color-dark-pink);
}

.home__contact {
  transition: background-color 0.3s;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Home End */

/* About Start */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon:hover {
  border: 2px solid var(--color-pink);
  transition: 0.3s;
}

.major__icon i {
  transition: all 0.3s ease;
}

.major__icon:hover i {
  transition: all 0.3s ease;
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job > .job__logo {
  width: 100px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-mrcro);
}

.job__description {
  margin: 16px;
  text-align: left;
}
/* About End */

#skills {
  background-color: var(--color-yellow);
}
.section_container {
  margin: auto;
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px;
}
.skillset__title {
  color: var(--color-white);
}
.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill__description {
  display: flex;
  margin-bottom: 10px;
}
.skillset_rignt {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 4px;
  background-color: var(--color-orange);
}
.skill {
  margin-bottom: 32px;
}

.tools,
.etc {
  padding: 20px;
}

.tools__list > li,
.etc__list > li {
  margin-bottom: 10px;
}
/* Work */
.work_categories {
  margin: 40px;
}
.category__btn {
  border: 2px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  transition: 0.3s;
}
.category__btn.active,
.category__btn:hover {
  transition: 0.3s;
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover > .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  height: 250px;
  width: 280px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}
.project__description:hover {
  opacity: 0.7;
  transform: translateY(0px);
  transition: all var(--animation-duration) ease-in;
}
.project__description > h3,
span {
  color: var(--color-white);
}
.project__description > h3:after {
  content: "";
  width: 25px;
  position: relative;
  left: 50%;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
  display: block;
}
/* testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonials__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial:nth-child(odd) > .testimonials__avatar {
  margin-right: 30px;
}

.testimonial:nth-child(even) > .testimonials__avatar {
  margin-left: 30px;
}

.testimonial:last-child {
  flex-direction: row-reverse;
}

.testimonials__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonials__speech-bubble > P {
  color: var(--color-dark-grey);
}
.testimonials__speech-bubble a {
  color: var(--color-pink);
  font-weight: var(--weight-bold);
}
